@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul {
  list-style: none;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
}

code,
kbd,
samp,
pre {
  font-family: 'Open Sans', sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
  Document
  ========
  */
/**
  Use a better box model (opinionated).
  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Use a more readable tab size (opinionated).
  */
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
  1. Correct the line height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
  Sections
  ========
  */
/**
  Remove the margin in all browsers.
  */
body {
  margin: 0;
  padding: 0;
}

/**
  Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
  Grouping content
  ================
  */
/**
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  */
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
  Text-level semantics
  ====================
  */
/**
  Add the correct text decoration in Chrome, Edge, and Safari.
  */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
  Add the correct font weight in Edge and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  2. Correct the odd 'em' font sizing in all browsers.
  */
/**
  Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
  Tabular data
  ============
  */
/**
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  */
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
  Forms
  =====
  */
/**
  1. Change the font styles in all browsers.
  2. Remove the margin in Firefox and Safari.
  */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
  Remove the inheritance of text transform in Edge and Firefox.
  1. Remove the inheritance of text transform in Firefox.
  */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
  Correct the inability to style clickable types in iOS and Safari.
  */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
  Remove the inner border and padding in Firefox.
  */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  Restore the focus styles unset by the previous rule.
  */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  Remove the additional ':invalid' styles in Firefox.
  See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
  */
:-moz-ui-invalid {
  box-shadow: none;
}

/**
  Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
  */
legend {
  padding: 0;
}

/**
  Add the correct vertical alignment in Chrome and Firefox.
  */
progress {
  vertical-align: baseline;
}

/**
  Correct the cursor style of increment and decrement buttons in Safari.
  */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
  */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
  Remove the inner padding in Chrome and Safari on macOS.
  */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to 'inherit' in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
  Interactive
  ===========
  */
/*
  Add the correct display in Chrome and Safari.
  */
summary {
  display: list-item;
}

:root {
  --blue-text: rgba(33, 150, 243, 1);
  --black-text: rgba(0, 0, 0, 1);
  --black-light-text: rgba(33, 33, 33, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --white-text: rgba(255, 255, 255, 1);
  --grey-text-op60: rgba(255, 255, 255, 0.6);
  --icons-color: rgba(175,177,184,1);
  --back-hero-footer-grey: rgba(47, 48, 58, 1);
  --button-portfolio-grey: rgba(245, 244, 250, 1);
  --margin-left: 30px;
  --margin-top: 30px;
  --margin-left-: -30px;
  --margin-top-: -30px;
  --transition-dur-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 50px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

section {
  padding: 94px 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  height: 60px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__contacts-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav {
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header__nav {
    height: 80px;
  }
}

@media screen and (max-width: 1199px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}

.header__list-item:not(:last-child) {
  margin-right: 50px;
}

.header__list-item:last-child {
  margin-right: 84px;
}

@media screen and (min-width: 1200px) {
  .header__list-item:last-child {
    margin-right: 305px;
  }
}

.header__link {
  color: var(--black-light-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-dur-timing);
  transition: color var(--transition-dur-timing);
}

.header__link:hover, .header__link:focus {
  color: var(--blue-text);
}

.header__link:active {
  color: red;
}

.header__link--active {
  color: var(--blue-text);
  position: relative;
  display: inline-block;
}

.header__link--active::after {
  position: absolute;
  top: 43px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue-text);
  border-radius: 2px;
}

@media screen and (max-width: 1199px) {
  .header__contact:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact:not(:last-child) {
    margin-right: 30px;
  }
}

.header__mail-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--grey-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--transition-dur-timing);
  transition: color var(--transition-dur-timing);
}

.header__mail-tel:hover, .header__mail-tel:focus {
  color: var(--blue-text);
}

@media screen and (min-width: 1200px) {
  .header__mail-tel {
    font-size: 14px;
  }
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--black-text);
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 31px;
  }
}

.logo__web-color {
  color: var(--blue-text);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: white;
  opacity: 1;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__list1 {
  margin-bottom: 302px;
}

.mobile-menu__chapters-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.mobile-menu__link--active {
  color: var(--blue-text);
}

.mobile-menu__list2 {
  margin-bottom: 64px;
}

.mobile-menu__contact:first-child {
  margin-bottom: 32px;
}

.mobile-menu__mail {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--blue-text);
}

.mobile-menu__tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--grey-text);
}

.social-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list__item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
}

.social-list__item:first-child {
  padding-left: 0px;
  border: none;
}

.social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--blue-text);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--back-hero-footer-grey);
  text-align: center;
  padding: 0px;
}

.hero__overlay {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero/hero-768-1x.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero/hero-768-1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero/hero-768-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero/hero-768-2x.jpg");
  }
}

@media screen and (max-width: 480px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero/hero-480-1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero/hero-480-1x.jpg");
  }
}

@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero/hero-480-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero/hero-480-2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero/hero-1600-1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero/hero-1600-1x.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Hero/hero-1600-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Hero/hero-1600-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__overlay {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 60px;
  }
}

.hero__button {
  border: none;
  color: var(--white-text);
  background-color: var(--blue-text);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}

.hero__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity var(--transition-dur-timing);
  transition: opacity var(--transition-dur-timing);
}

.hero__backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.hero__backdrop--hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  padding: 40px;
  background: var(--white-text);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--transition-dur-timing);
  transition: -webkit-transform var(--transition-dur-timing);
  transition: transform var(--transition-dur-timing);
  transition: transform var(--transition-dur-timing), -webkit-transform var(--transition-dur-timing);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--white-text);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-button:hover .close-button__icon,
.close-button:focus .close-button__icon {
  fill: var(--blue-text);
}

.close-button__icon {
  -webkit-transition: fill var(--transition-dur-timing);
  transition: fill var(--transition-dur-timing);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-light-text);
}

.modal__input {
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-dur-timing);
  transition: border-color var(--transition-dur-timing);
}

.modal__input:focus {
  border-color: var(--blue-text);
}

.modal__input:focus + .modal__input-icon {
  fill: var(--blue-text);
}

.modal__form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--grey-text);
}

.modal__form-field:hover .modal__input {
  border-color: var(--blue-text);
}

.modal__form-field:hover .modal__input-icon {
  fill: var(--blue-text);
}

.modal__comment-text {
  margin-top: 4px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color var(--transition-dur-timing);
  transition: border-color var(--transition-dur-timing);
}

.modal__comment-text:focus {
  border-color: var(--blue-text);
}

.modal__input-icon {
  position: absolute;
  top: 28px;
  left: 12px;
  -webkit-transition: fill var(--transition-dur-timing);
  transition: fill var(--transition-dur-timing);
}

.modal__comment {
  margin-bottom: 20px;
}

.modal__comment:hover .modal__comment-text {
  border-color: var(--blue-text);
}

.modal__confirm {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}

@media screen and (min-width: 1200px) {
  .modal__confirm {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal__confirm label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__contract-link {
  display: inline-block;
  color: var(--blue-text);
  text-decoration: underline;
  margin-left: 3px;
}

.modal__checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.modal__checkbox:checked + .modal__checkbox-icon {
  background-color: var(--blue-text);
  border-color: var(--blue-text);
  background-image: url(../images/vector/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal__checkbox:focus + .modal__checkbox-icon {
  -webkit-box-shadow: 0 0 0 1px var(--black-text);
          box-shadow: 0 0 0 1px var(--black-text);
}

.modal__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-text);
  border-radius: 2px;
  margin-right: 8px;
}

.confirm-button {
  width: 200px;
  height: 50px;
  color: var(--white-text);
  background: var(--blue-text);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    margin-left: var(--margin-left-);
    margin-top: var(--margin-top-);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin-left: var(--margin-left);
    margin-top: var(--margin-top);
    -ms-flex-preferred-size: calc((100% - 2*30px) / 2);
        flex-basis: calc((100% - 2*30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__item::before {
  content: '';
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: var(--button-portfolio-grey);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__item--antenna::before {
  background-image: url("../images/vector/antenna.svg");
}

.features__item--clock::before {
  background-image: url("../images/vector/clock.svg");
}

.features__item--diagram::before {
  background-image: url("../images/vector/diagram.svg");
}

.features__item--astronaut::before {
  background-image: url("../images/vector/astronaut.svg");
}

.features__subtitle {
  color: var(--black-light-text);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  color: var(--grey-text);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .working__visible {
    display: none;
  }
}

.working__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: var(--margin-left-);
  margin-top: var(--margin-top-);
}

.working__item {
  position: relative;
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  margin-left: var(--margin-left);
  margin-top: var(--margin-top);
}

.working__description {
  position: absolute;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  background: rgba(47, 48, 58, 0.8);
  bottom: 0px;
}

.working-image {
  display: block;
}

.command {
  background-color: var(--button-portfolio-grey);
}

@media screen and (max-width: 1199px) {
  .command {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .command .command__title {
    margin-bottom: 0px;
  }
}

.command .command__persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

@media screen and (min-width: 1200px) {
  .command .command__persons {
    margin-top: -30px;
  }
}

.command-member {
  margin-top: 30px;
  margin-left: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .command-member {
    -ms-flex-preferred-size: calc((100% - 2*30px) / 2);
        flex-basis: calc((100% - 2*30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .command-member {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.command-member__card-thumb {
  width: 100%;
  height: 460px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .command-member__card-thumb {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .command-member__card-thumb {
    height: 260px;
  }
}

.command-member__photo {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.command-member__name {
  color: var(--black-light-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.command-member__position {
  color: var(--grey-text);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-icons-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.social-icons-list__link {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icons-color);
  -webkit-transition: color var(--transition-dur-timing), background-color var(--transition-dur-timing);
  transition: color var(--transition-dur-timing), background-color var(--transition-dur-timing);
}

.social-icons-list__link:hover, .social-icons-list__link:focus {
  color: var(--white-text);
  background-color: var(--blue-text);
}

.social-icons-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-list__icon {
  fill: currentColor;
}

.social-icons-list__icon:hover, .social-icons-list__icon:focus {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients .clients__title {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 480px) {
  .clients .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -30px;
  }
}

.clients .clients-list__item {
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .clients .clients-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients .clients-list__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients .clients-list__item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
    margin-top: 0px;
  }
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list__link {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  -webkit-transition: color var(--transition-dur-timing), border-color var(--transition-dur-timing);
  transition: color var(--transition-dur-timing), border-color var(--transition-dur-timing);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--blue-text);
  border-color: var(--blue-text);
}

.grey-line {
  border: 1px solid #ececec;
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .portfolio-page {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .buttons-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .buttons-list__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.buttons-list__item:not(:last-child) {
  margin-right: 8px;
}

.buttons-list__button {
  color: var(--black-light-text);
  border: none;
  padding: 6px 22px;
  background-color: var(--button-portfolio-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: color var(--transition-dur-timing), background-color var(--transition-dur-timing), -webkit-box-shadow var(--transition-dur-timing);
  transition: color var(--transition-dur-timing), background-color var(--transition-dur-timing), -webkit-box-shadow var(--transition-dur-timing);
  transition: color var(--transition-dur-timing), background-color var(--transition-dur-timing), box-shadow var(--transition-dur-timing);
  transition: color var(--transition-dur-timing), background-color var(--transition-dur-timing), box-shadow var(--transition-dur-timing), -webkit-box-shadow var(--transition-dur-timing);
}

.buttons-list__button:hover, .buttons-list__button:focus {
  color: var(--white-text);
  background-color: var(--blue-text);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .portfolio-cards {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: var(--margin-left-);
    margin-top: var(--margin-top-);
  }
}

.portfolio-cards__item {
  margin-top: var(--margin-top);
  -webkit-transition: -webkit-box-shadow var(--transition-dur-timing);
  transition: -webkit-box-shadow var(--transition-dur-timing);
  transition: box-shadow var(--transition-dur-timing);
  transition: box-shadow var(--transition-dur-timing), -webkit-box-shadow var(--transition-dur-timing);
}

@media screen and (min-width: 480px) {
  .portfolio-cards__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-cards__item {
    margin-left: var(--margin-left);
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-cards__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio-cards__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-cards__item:hover .portfolio-cards__appearing-text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio-cards__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-cards__link:focus .portfolio-cards__appearing-text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio-cards__thumb {
  position: relative;
  width: 100%;
  height: 294px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.portfolio-cards__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.portfolio-cards__appearing-text {
  position: absolute;
  display: block;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-text);
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--transition-dur-timing);
  transition: -webkit-transform var(--transition-dur-timing);
  transition: transform var(--transition-dur-timing);
  transition: transform var(--transition-dur-timing), -webkit-transform var(--transition-dur-timing);
}

.portfolio-cards__title {
  margin-bottom: 4px;
  color: var(--black-light-text);
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio-cards__text-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-cards__text {
  color: var(--grey-text);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.page-footer {
  background-color: var(--back-hero-footer-grey);
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__container {
    padding-left: 89px;
    padding-right: 89px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .page-footer__section {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer__section {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__section:nth-child(2) {
    padding-left: 81px;
  }
}

.page-footer__logo {
  display: block;
  color: var(--white-text);
  margin-bottom: 20px;
}

.page-footer__title,
.subscription__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  margin-bottom: 20px;
}

.page-footer__contacts {
  margin-top: 20px;
}

.page-footer__contact {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.page-footer__contact:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__adress {
  color: var(--white-text);
}

.page-footer__mail-tel {
  color: var(--grey-text-op60);
}

.page-footer__social-icons-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-footer__icons-list-item:not(:last-child) {
  margin-right: 10px;
}

.page-footer__social-link {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-text);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transition-dur-timing);
  transition: background-color var(--transition-dur-timing);
}

.page-footer__social-link:hover, .page-footer__social-link:focus {
  background-color: var(--blue-text);
}

.page-footer__social-icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .subscription {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    padding-left: 93px;
  }
}

.subscription__input {
  display: block;
  width: 100%;
  height: 50px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--grey-text-op60);
}

@media screen and (max-width: 1199px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    display: inline;
  }
}

.subscription__button {
  width: 200px;
  height: 50px;
  padding-left: 0px;
  padding-right: 0px;
  background: var(--blue-text);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--white-text);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .subscription__button {
    margin-left: 12px;
  }
}

.subscription__icon {
  margin-left: 10px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */