.portfolio-cards {
  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--margin-left-);
    margin-top: var(--margin-top-);
  }
}
  
  .portfolio-cards__item {    
    @media screen and (min-width: 480px) {
      flex-basis: 100%;
    }

    @media screen and (min-width: 768px) {
      margin-left: var(--margin-left);
      flex-basis: calc(100% / 2 - 30px);
    }

    @media screen and (min-width: 1200px) {      
      flex-basis: calc(100% / 3 - 30px);
    }
    
    margin-top: var(--margin-top);
    transition: box-shadow var(--transition-dur-timing);
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .portfolio-cards__appearing-text {
      transform: translateY(-100%);
    }
  }
    
  .portfolio-cards__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
      
    & .portfolio-cards__appearing-text {
      transform: translateY(-100%);
    }
  }
  
  .portfolio-cards__thumb {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  .portfolio-cards__image {
    width: 100%;
    display: block;
  }
  
  .portfolio-cards__appearing-text {
    position: absolute;
    display: block;
    width: 100%;
    height: 294px;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--white-text);
    background: rgba(33, 150, 243, 0.9);
    transition: transform var(--transition-dur-timing);
  }
    
  .portfolio-cards__title {
    margin-bottom: 4px;
    color: var(--black-light-text);
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
  }
  
  .portfolio-cards__text-content {
    padding: 20px 24px;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
  }
  
  .portfolio-cards__text {
    color: var(--grey-text);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
  }