body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin: 0;
    padding: 0;
  }
  
  h2 {
    margin-bottom: 50px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  section {
    padding: 94px 0px;
  }
  
  