.header {
    height: 80px;
    display: block;
    align-items: center;
  }
  
  .header__nav,
  .header__contacts-list {
    display: flex;
    align-items: center;
  }
  
  .header__nav {
    height: 80px;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo {
    margin-right: 93px;
  }
  
  .header__list {
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .header__list-item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header__list-item:last-child {
    margin-right: 331px;
  }
  
  .header__link {
    color: var(--black-light-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;  
    transition: color var(--transition-dur-timing);
    &:hover,
    &:focus {
      color: var(--blue-text);
    }
    &:active {
      color: red;
    }
  }
    
  .header__link--active {
    color: var(--blue-text);
    position: relative;
    display: inline-block;
    &::after {
      position: absolute;
      top: 43px;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--blue-text);
      border-radius: 2px;
    }
  }
  
  .header__contact:not(:last-child) {
    margin-right: 30px;
  }
  
  .header__mail-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--grey-text);
    display: flex;
    align-items: center;  
    transition: color var(--transition-dur-timing);
    &:hover,
    &:focus {
    color: var(--blue-text);
  }
}
  
  .header__icon {
    fill: currentColor;
    margin-right: 10px;
  }