.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--black-text);
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;  
  }
  
  .logo__web-color {
    color: var(--blue-text);
  }