.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: white;
  opacity: 1;
  z-index: 999;
  
  transform: translateX(100%);
}

.menu-container.is-open {
    transform: translateX(0);  
}

.js-close-menu {
 position: absolute;
 top: 10px;
 right: 15px;    
}

.mobile-menu__list1 {
  margin-bottom: 302px;  
}

.mobile-menu__chapters-item:not(:last-child){
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--black-text);
  &--active {
    color: var(--blue-text);
  }  
}

.mobile-menu__list2 {
  margin-bottom: 64px;
}
 .mobile-menu__contact:first-child {
  margin-bottom: 32px;
 }

.mobile-menu__mail {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--blue-text);
}

.mobile-menu__tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--grey-text);
}

.social-list {
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

.social-list__item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
  &:first-child {
    padding-left: 0px;
    border: none;
  }

}
.social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--blue-text);  
}








