.command {
    background-color: var(--button-portfolio-grey);
    margin-bottom: 0;
    padding: 94px 0px;
  }
  
  .command__persons {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  
  .command-member {
    flex-basis: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .command-member__photo {
    margin-bottom: 30px;
    display: block;
  }
  
  .command-member__name {
    color: var(--black-light-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  
  .command-member__position {
    color: var(--grey-text);
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  
  .social-icons-list {
    display: inline-flex;
    width: 270px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .social-icons-list__link {
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icons-color);  
    transition: color var(--transition-dur-timing),
    background-color var(--transition-dur-timing);
    
    &:hover,
    &:focus {
      color: var(--white-text);
      background-color: var(--blue-text);
    }
  }
  
  .social-icons-list__item:not(:last-child) {
    margin-right: 10px;
  }
  
  .social-icons-list__icon {
    fill: currentColor;
    
    &:hover,
    &:focus {
    fill: currentColor;
  }
}
  
  