.working__visible {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.working__list {
    display: flex;
    margin-left: var(--margin-left-);
    margin-top: var(--margin-top-);
  }
  
  .working__item {
    position: relative;
    flex-basis: calc(100% / 3);
    margin-left: var(--margin-left);
    margin-top: var(--margin-top);
  }
  
  .working__description {
    position: absolute;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text);
    background: rgba(47, 48, 58, 0.8);
    bottom: 0px;
  }
  
  .working-image {
    display: block;
  }